body {
    font-family: 'Fira Sans';
    padding: 1em;
}

section {
    display: flex;
}

article {
    padding: 1em;
    width: 100%;
}

#map {
    width: 100%;
    min-height: 500px;
    display: block;
}

.hidden {
    display: none;
}

.hidden-point {
    display: none;
}

.visible-point {
    display: block;
}

h1 {
    padding-top: 0.3em;
    padding-left: 3.25em;
    color: white;
}

#selected {
    padding-top: 1em;
}

#reset {
    margin-top: 0.5em;
}

#words {
    padding-left: 4em;
    padding-right: 4em;
}